<div class="examples">
  <h2 class="text-primary">{{ 'examples.title' | translate }}</h2>
  <div [innerHTML]="'examples.description' | translate" class="text-secondary"></div>
  <div class="alert alert-info" role="alert">
    {{ 'examples.alert' | translate }}
  </div>
  <app-code [code]="serviceCode" [title]="'Service'" />
  @for (example of examples; track $index) {
    <app-example [example]="example">
      @switch (example.title) {
        @case ('signal') {
          <app-signals-result />
        }
        @case ('rxjs') {
          <app-rxjs-result />
        }
        @case ('ngrx') {
          @if (!utilsService.isNgRxSignals) {
            <app-ngrx-result />
          }
        }
        @case ('ngrxSignal') {
          @if (utilsService.isNgRxSignals) {
            <app-ngrx-signal-result />
          }
        }
      }
    </app-example>
  }
</div>
