/*pre[class*='language-'] {
  font-size: 1rem;
  line-height: 1;
  padding-left: 2.5rem;
}

@media (max-width: 576px) {
  pre[class*='language-'] {
    font-size: 0.85rem;
    line-height: 1;
  }
}*/
