<div class="ngrx-example">
  <app-example-introduction [example]="example" />
  <app-example-code [example]="example" />
  <div class="ngrx-example__result">
    <app-execution [time]="totalTime" [loading]="loading$ | async" (actionGetPlayers)="getPlayers()" />
    @if (!(loading$ | async)) {
      @if (error$ | async) {
        <app-error [error]="error$ | async"></app-error>
      } @else {
        <div class="row">
          @for (player of players$ | async; track $index) {
            <div class="col-md-4 text-center">
              <app-player [player]="player" />
            </div>
          }
          @if (chartDataSets.length) {
            <div class="col-12">
              <app-chart [idChart]="'ngrx'" [dataSets]="chartDataSets" />
            </div>
          }
        </div>
      }
    }
  </div>
</div>
